<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Blog about programming.">
    <meta name="author" content="Andreas Herrmann">

    <title>Programming Blog &ndash; by Andreas Herrmann</title>

    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>

  <body>
    <header id="page-header">
      <h1><a href="/">Programming Blog</a></h1>
      <h2>by Andreas Herrmann</h2>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="/atom.xml">Feed</a></li>
          <li><a href="https://github.com/aherrmann" target="_blank">GitHub</a></li>
        </ul>
      </nav>
    </header>

    <section>
      $body$
    </section>

    <footer id="page-footer">
      <p>
      &copy; $currYear$ Andreas Herrmann
      </p>
      <p>
      Powered by
      <ul>
        <li><a href="http://jaspervdj.be/hakyll">Hakyll</a></li>
        <li><a href="https://pages.github.com/">GitHub Pages</a></li>
      </ul>
      </p>
    </footer>
  </body>
</html>
