<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Blog about programming.">
    <meta name="author" content="Andreas Herrmann">

    <!-- TODO: Set page-title by context field -->
    <title>Programming Blog &ndash; by Andreas Herrmann</title>

    <link
    href="https://fonts.googleapis.com/css?family=Merriweather:light,bolditalic,black|Merriweather+Sans:lightitalic,regular,regularitalic" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="/css/katex.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/hasklig.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <script type="text/javascript" src="/js/katex.min.js"></script>
    <script type="text/javascript" src="/js/auto-render.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71939387-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div id="page-header">
      <header id="page-title">
        <h1><a href="/">Andreas Herrmann</a></h1>
      </header>
      <nav id="page-nav">
        <ul>
          <li><a href="/">
              <span aria-hidden="true"
                    title="Home"
                    class="menu-logo fa fa-lg fa-home"/>
              <span class="menu-text">Home</span></a></li>
          <li><a href="/archive">
              <span aria-hidden="true"
                    title="Archive"
                    class="menu-logo fa fa-lg fa-book"/>
              <span class="menu-text">Archive</span></a></li>
          <li><a href="/atom.xml">
              <span aria-hidden="true"
                    title="Feed"
                    class="menu-logo fa fa-lg fa-feed"/>
              <span class="menu-text">Feed</span></a></li>
          <li><a href="https://github.com/aherrmann" target="_blank">
              <span aria-hidden="true"
                    title="GitHub"
                    class="menu-logo fa fa-lg fa-github"/>
              <span class="menu-text">GitHub</span></a></li>
        </ul>
      </nav>
    </div>

    <hr>

    <main>
      $body$
    </main>

    <footer id="page-footer">
      <p>
      &copy; $currYear$ Andreas Herrmann
      </p>
      <p>
      Powered by
      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
      <a href="http://fvisser.nl/clay/">Clay</a>
      <a href="https://pages.github.com/">GitHub&nbsp;Pages</a>
      </p>
    </footer>

    <script type="text/javascript">
      renderMathInElement(document.body);
    </script>

  </body>
</html>
